In [7]:
import pandas as pd
import torch
from sklearn.datasets import load_boston
import numpy as np
import torch.nn as nn
x = torch.Tensor(5,3)

print (x)

tensor([[ 1.6894e-31,  4.5633e-41,  1.7884e-31],
        [ 4.5633e-41,  1.7852e-31,  4.5633e-41],
        [ 1.8145e-31,  4.5633e-41, -2.5533e-20],
        [ 4.5632e-41,  8.8873e-33,  4.5633e-41],
        [ 1.1054e-32,  4.5633e-41, -1.2300e-22]])

In [8]:
dataset = load_boston()
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)

In [10]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
import pandas as pd
import torch
from sklearn.datasets import load_boston
import numpy as np
import torch.nn as nn

In [7]:
# converting dataframes into tensors. sometimes it causes an error to convert it directly, so you need to convert them first into an
# array(list) before using the torch.Tensor-function.
import torch
import pandas as pd

train = pd.read_csv('Timeseries.csv', encoding = "UTF-8") # converting the csv into an pnda-dataframe
#print (train)
print (type(train))
#print(train.values)
A=train.values             
#numpy_matrix = train.as_matrix()
print (type(A))
TestVektor=[]
dummyVektor=[]
for elem,elem2 in A:
    #print (elem,elem2)
    dummyVektor=[elem2,elem2]
    TestVektor.append(dummyVektor)
    #print(TestVektor)
    #print(dummyVektor)
#print(A[1][1])
test_tensor = torch.Tensor(TestVektor)
print (test_tensor)

#train_tensor = torch.tensor(train.values)

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
tensor([[239., 239.],
        [135., 135.],
        [382., 382.],
        ...,
        [454., 454.],
        [387., 387.],
        [235., 235.]])

In [52]:
train.head()

    SHIP_DATE  Sales
0  01/04/2016    239
1  01/05/2016    135
2  01/06/2016    382
3  01/07/2016    144
4  01/08/2016     70